/*Selector
Declaración
Propiedad
valores
para traer a llamar id se usa #*/
html{
    font-size: 62,5%; /*Reset para los REMS - 62.5%=10px de 16px*/
    box-sizing:border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: 'Lato', sans-serif;
}
/*Sección de globales, que vamo a reciclar esta regla de contenedor*/
.contenedor{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
/* podemos usar "margin" y vamos a poder editar cuatro valores que iran en sentido del reloj
primero top, arriba después derecha, abajo e izquierda, si pondemos un sólo valor se aplicará el mismo para 
top, right, buttom, left*/
img{
    max-width:100%;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}

/*Utilidades*/

.cambio-seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.texto-centrado{
    text-align: center;
}
.fontw-300{
    font-weight: 300;
}
.d-block{
    display:block !important; /*Debesmos tener un orden
    porque el código lee de arriba a abajo y de izquierda a derecha*/
}

.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 0.8rem 3rem;
    margin-top: 1rem;
    display: inline-block;
    text-align:center;
}
.boton-amarillo{
    background-color:#E08709;
}
.boton-verde{
    background-color: #71B100;
}
.b-ver-todas{
    display: flex;
    justify-content: flex-end;
}

/*Estilos del header*/
.siteheader.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 43rem;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 2rem;
    padding-top:1rem;
    padding-bottom: 1rem;
}   
.titulo-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo-header h1{
    color:white;
    max-width: 600px;
    line-height: 2;
    padding-bottom: 2rem;
}


/* la otra zona con background-image; o sea el "contactános" */
.contactos{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: 106rem;
    height: 15vh;
    display: flex;
    align-items: center;
    min-height: 21rem;
    color:white;
}
.encuentras h2{
    text-align: left;
}
.encuentras{
    margin: 4rem 0rem  6rem 9rem; 
}
*/
/*icons-index*/

.icons-index{
    display: flex;
    justify-content: space-between;
}
.icon{
    flex-basis: calc(33.3% - 4rem);
    text-align: center;
    line-height: 2;
    padding-bottom: 1.5rem;
    padding-top:2rem;
}
.icon h3{
    text-transform: uppercase;
}

/* NOSOTROS HTML*/
/*Header*/
.headernos{
    background-color: #303030;
}
.navegacion2 a{
    color:#ffffff;
    font-family: sans-serif;
    margin-right: 2rem;
    text-decoration: none;
    letter-spacing: 4px;
}
.navegacion2 a:hover{
    color: #00ffff;
} /* Pseudo selector*/
/*body de nosotros.html*/
.imagenos{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
}
.contenedor3{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.contenedor3 img{
    max-height: 30rem;
    max-width: 40rem;
}
.elcomplicado{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
   
}

/*main*/
.icons-index{
    display: flex;
    justify-content: space-between;
}
.icon{
    flex-basis: calc(33.3% - 2rem); /*Nos divide entre tres 
    el espacio de las tres etiquetas y nos da una separación de dos rem*/
    text-align: center;
    line-height: 2;
}
.icon h3{
    text-transform: uppercase;
}

/*Sección principal etiquetas*/

.contenedor-etiquetas{    
    display:flex;
    justify-content: space-between;
}
.etiqueta{
    flex-basis: calc(33.3% - 1rem); 
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
}
.textoetiqueta{
    padding:2rem;
}
.textoetiqueta h3{
    margin:0;
}
.textoetiqueta p{
    line-height: 1.75;
}
.precio{
    color: rgba(0, 128, 0, 0.918);
    font-weight: 700;
}

.iconos-caracteristicas{
    list-style: none;
    padding:0;
    display:flex;
    justify-content: space-evenly;
}
.iconos-caracteristicas li{
    display:flex;
}
.iconos-caracteristicas li img{
    margin: 1rem;
}

/*BLOG Y TESTIMONIALES*/
.blog-testimoniales{
    display:flex;
    justify-content: space-between;   
}
.blog{
    flex-basis: calc(65% - 1rem);
}
.testimoniales{
    flex-basis: calc(35% - 1rem);
}
.blog-elemnts{
    display:flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}
.imagen-blog{
    flex-basis: 40%;
}
.parrafito{
    flex-basis: calc(60% - 2rem);
    line-height: 1.5;
}
.parrafito h3{
    margin: 0;
}
.parrafito h3::after{ /*No existe dentro del 
    html pero si en css*/
    content: '';
    display: block;
    border: 1px #71B100 solid;
    width: 10rem;
    height: 0.5rem;
    background-color: #71B100;
}
/*
.letextacomode{
    max-width: 2rem;
}
.testimoniales{
    display: flex;

}
*/



/*footer*/
.foot{
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #303030;
    color:white;
}
